<footer>
    <h2>&copy; 2023 Task Manager</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/controllers/tasks.js">Tasks</a></li>
            <li><a href="#">My Applications</a></li>
        </ul>
    </nav>
</footer>
