<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= user._id Task Manager %></title>
<link rel="stylesheet" href="/styles/main.css">