<header>
    <h1 class="title" id="navTitle">Task Manager</h1>
    <nav class="navbar ">
        <ul class="navbar-menu ">
            <div class="navbar-start ">
            <li class="navbar-item "><a href="/">Home</a></li>
            <li class="navbar-item "><a href="/tasks">Tasks</a></li>
            <li class="navbar-item "><a href="#">My Applications</a></li>
        </div>
        </ul>
    </nav>
</header>
