<header>
    <h1>Task Manager</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="#">My Applications</a></li>
        </ul>
    </nav>
</header>
