<header>
    <h1 class="title" id="navTitle">Task Manager</h1>
    <nav class="navbar ">
        <ul class="navbar-brand">
            <div class="navbar-brand" id="links">
            <li class="navbar-item"><a href="/">Sign up!</a></li>
            <!-- <li class="navbar-item "><a href="/tasks">Tasks</a></li>
            <li class="navbar-item "><a href="#">My Applications</a></li> -->
        </div>
        </ul>
    </nav>
</header>
