<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>Track Your Tasks</h2>
            <a href="/tasks/new/<%=userId%>" class="btn">Create New Tasks!</a>
        </section>

        <section class="about">
            <h2>About Us</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, commodi sapiente ad illum odio tempora aperiam repellendus velit doloribus cupiditate rerum accusantium deserunt earum quibusdam nisi facilis! Repellat, error doloribus!
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>

        
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
