<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="hero">
        <h2>Create an account or log in!</h2>
        <h4><i>Lets get started!</i></h4>
    </section>

    

    <a href="/createUser" class="btn">Create New Account!</a>
</body>
</html>